<launch>

    <group ns="/">
      <node 
        pkg="ros_lawicel_canusb" 
        name="ros2can" 
        type="ros2can"
       />
    </group>
    <group ns="/">
      <node 
        pkg="ros_lawicel_canusb" 
        name="can2ros" 
        type="can2ros" 
        args="slcan0"
	output = "screen"
       />
    </group>
</launch>
